@tailwind base;
@tailwind components;
@tailwind utilities;



@import url(../font/Asaf.woff2);

  @font-face {
      font-family: "Asaf";
      src: url("../font/Asaf.woff2");
    }


    *{
      font-family: "Asaf";
    }
  
    

  